<h1 style="text-align:center">MY CART</h1>

<div *ngIf="cartItems.length > 0; else emptyCart">
  <div class="cart-card">
    <div class="cart-item" *ngFor="let cartItem of cartItems">
      <img [src]="cartItem.image" alt="Product Image">
      <div class="details">
        <h3>{{ cartItem.title }}</h3>
        <p>Price: ${{ cartItem.price }}</p>
       <div class="remove-button">
          <button (click)="removeFromCart(cartItem.id)">Remove</button>
        </div>  
      </div>
    </div>
    
    <div class="total">
      Total: ${{ calculateTotal() }}
    </div>
    
    <div class="checkout-button">
      <button (click)="checkout()">Checkout</button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <p></p><p></p>
    <h2 style="text-align: center;">Your cart is empty.</h2>
  </div>
</ng-template>
